/* ===================================== 
   Page Styles
======================================== */


:root {
    --primary-color: rgba(40, 54, 58, 0.75);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
}

.showmetheWAY {
  outline: 6px solid lime;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-size: 16px;
  font-family: Lato, sans-serif;
  font-weight: 400;
}

img {
  transition: all .5s;
}


.container-80 {
   margin: auto;
   width: 90%;
  
}

.element-top-80 {
  margin-top: 80px;
}

.element-top-0 {
  margin-top: 0;
}

.element-top-20 {
  margin-top: 20px;
}

.elemnt-bottom-0{
  margin-bottom: 0;
}
.element-bottom-20 {
  margin: 0 0 20px;
}

.header-container  {
  background-color: #26282b;
  
  
}

.book-a-table-container {
    background-color: #6ad78a;
}

.showcase-container {
  outline: 2px solid lime;
}

.showcase-section {
  background-color: #aad2ed;  
  
  
  text-align: center;
  
}

.test {
  height: 120px ;
  
  outline: red solid dashed;
  display: flex;
  justify-content: space-evenly;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-container {
  border-bottom: grey solid 1px;
}


.menu-main {
  display: flex;
  list-style-type: none;
  color: white;
 
}

.menu-main li {
  padding: 48px 20px;
  
  line-height: 24px;
  font-size: 21px;
  font-weight: bold;
  font-family: 'Gentium Book Basic', serif;
}


.section-container-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
  height: 100vh;
}

.background-media {
  height: 860px;
  background-image: url(../images/promo-background.jpeg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 0;
  transition: background-position .3s ease-out;

}

.background-media:hover {
  background-position: 50% -5px;
}


.showcase-section h1 {
    font-size: 92px;
    color: rgba(255, 255, 255, 0.84);
    font-family: 'Yeseva One', sans-serif;
    text-transform: none;
    font-weight: 300;
}

.showcase-btn {
    margin: 20px 10px;
    padding: 10px 24px;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.showcase-btn {
   text-decoration: none;
}

.btn-see-menu {
  background: rgba(0, 0, 0, 0.64) !important;
}

.btn-book-a-table {
  box-shadow: 0px 0px 0px 1px #fff inset
}

/* About Cook Section */
 /* Layout Containers */
.background-media-right-food {
  background-image: url(/images/about-background.jpeg) no-repeat center center/cover;
  background-size: auto;
  position: relative;

}

.col-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
} 

.img-container img {
  max-width: 100%;
  height: auto;
  /* vertical-align: middle; */
  align-content: center;
  width: 800px;

}

.col-md {
  display: flex;
  justify-content: center;
 
}

.col-sm {
  display: grid;
  justify-items: center;
  text-align: center;
}

 /* Elements of the containers */
  .col-sm h1 {
    color: #c90;
    font-family: Yeseva One, sans-serif;
    font-weight: 500;
    text-transform: none;
    font-size: 36px;
    line-height: 1.5em;
  }

  .col-sm p {
    color: #51575b;
    margin: 0 0 11.5px;
    line-height: 1.7em;

  }

  .hero_container img {
    margin-left: 50px;
  }

  /* Fine-dining Section  */
  /* Layout Containers */

  .background-media-right-dining {
    background-image: url(/images/reviews-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 40%;
    background-color: rgba(0, 0, 0, 0);
    height: 700px;
    display: flex;
    transition: background-position .3s ease-in-out;
    position: relative;
  }
  .panel-body {
    background-color: rgba(0, 0, 0, 0.69);
    display: flex;
    flex-direction: column;
    position: relative;
    right: -50%;
    align-items: center;
    text-align: center;
    width: 555px;
    height: 414px;
    padding: 15px;
  }

  .panel-body h1 {
      color: rgba(255, 255, 255, 0.84);
      font-size: 36px;
      font-family:'Yeseva One', sans-serif;
      font-weight: lighter;
  }

  .panel-body p {
    color: white;
    margin-bottom: 16.5px;
    font-weight: 400;
    line-height: 1.7142857143;
  }

  .panel-body img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

aside {
  background-color: #6ad78a; 
}
footer {
  background-color: #6e859c;
}